body {
	background: #777;
	border: 3px solid black;
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

.error {
	background: #f00;
	border: 1px solid white;
	color: white;
}

.waiting {
	background: #ff0;
	border: 1px solid black;
	color: black;
}

.success {
	background: #0f0;
	border: 1px solid white;
	color: white;
}

.uninitialized {
	background: #777;
	border: 1px solid black;
	color: black;
}

.ui-page {
	cursor: pointer;
}

#parent {
	padding-top: 230px;
	text-align: center;
}

#instructions {
	border: 5px solid;
	border-radius: 15px;
	font-size: 4em;
	padding: 5px 20px;
}