body {
	background: #BBB;
	border: 3px solid black;
	cursor: pointer;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

header {
	text-align: center;
	width: 50%;
}

footer {
	border-top: 3px solid black;
	bottom: 0;
	font-weight: bold;
	height: 10%;
	padding: 5%;
	position: absolute;
	width: 100%;
}

th,td {
	padding:2px;
}

form {
    background: #efe;
    padding: 10px;
}

.error {
	background: #f00;
	border: 1px solid white;
	color: white;
}

.waiting {
	background: #ff0;
	border: 1px solid black;
	color: black;
}

.success {
	background: #0f0;
	border: 1px solid white;
	color: white;
}

.uninitialized {
	background: #777;
	border: 1px solid black;
	color: black;
}

.ui-page {
	cursor: pointer;
}

#parent {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

#instructions {
	border: 5px solid;
	border-radius: 15px;
	/*font-size: 4em;*/
	padding: 5px 20px;
}

.clearfix {
	clear: both;
}

.test {
	background: #ddd;
	border: 3px solid #000;
	border-radius: 8px;
	color: #000;
	display: inline-block;
	float: left;
	font-weight: bold;
	height: 50px;
	margin: 2px;
	padding: 0 10px;
	overflow-x: hidden;
	width: 75px;
}

.passed {
	background: #4f7;
	border: 3px solid #393;
	color: #070;
}

.failed {
	background: #f22;
	border: 3px solid #933;
	color: #700;
}

.label {
	font-family: serif;
        font-size: .8em;
	font-weight: bold;
        text-transform: capitalize;
}

.text {
	font-family: sans-serif;
        font-size: .7em;
}

.global {
    background: #efe;
}

.container {
    margin: 0 auto;
    width: 100%;
}