<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        
    </div>
</div>
<div class="row">
    <span class="col-md-6">
        <label>Items per page</label>
        <select ng-model="itemsPerPage"
                ng-options="size for size in sizes">
        </select>
    </span>
    <span class="col-md-6">
        <label>Total items in data base is : </label>{{totalItems}}
    </span>
</div>