ol li {
    padding: 5px 0;
}

.passed {
    background: #4f7;
    border: 3px solid #393;
    color: #000;
}

.failed {
    background: #f22;
    border: 3px solid #933;
    color: #FFF;
}

.passed, .failed {
    border-radius: 0px;
    font-weight: bold;
    padding: 0px 15px;
}

a.passed, a.failed, a.passed:visited, a.failed:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

a.passed:hover, a.failed:hover {
    color: #33f;
}

.evaluation {
    font-weight: bold;
    text-transform: capitalize;
}

table {
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th, thead tr th, tbody tr td {
    border: 1px solid black;
    padding: 2px 5px;
}

thead tr th {
    background-color: #428BCA;
    color: #efe;
    text-align: center;
}

table.stylish {
    border: 1px solid black;
    border-collapse: collapse;
}
table.stylish td, table.stylish th {
    border: 1px solid;
    border-color: transparent;
    padding: 3px 10px;
}

td.singleResult {
    font-size: 9px;
    text-align: center;
    padding: 0px;
}

.singleResult.passed {
    color: #0A0;
}

.singleResult.failed {
    color: #f00;
}

.singleResult.passed, .singleResult.failed {
    background: transparent;
    border: 1px solid black;
    border-radius: 0;    
    margin: 3px;
    //font: 0.8em normal;
    padding: 0px 5px;
    overflow: hidden;
    word-wrap: break-word;
}

#evaluations{
    table-layout: fixed;
    width: 1000px;
}

table#evaluations thead tr th, table#evaluations tbody tr td {
    overflow-x: hidden;
    width: 50px;
} 

.minify{
    font-size: 14px;
}

table.stylish tbody tr:hover{
    background: none;
}

table tbody tr:hover{
    background-color: #FFA;
}

.message {
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
    padding: 4px;
}

.error{
    background: #f33;
    color: white;
}

.warning{
    background: #ff3;
    color: black;
}